<main>
<section id="features">
        <div class="container inner-top">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Beautiful. Clean. Responsive.</h1>
                <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        
          <div class="row inner-top-sm">
            
            <div class="col-md-3 inner-bottom-sm">
              <h2>All in one</h2>
              <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
              <a href="https://itunes.apple.com/us/app/the-community-of-grace/id1072207434?ls=1&mt=8" target="blank" class="txt-btn">View all possibilities</a>
            </div><!-- /.col -->
          
            <div class="col-md-3 inner-bottom-sm">
              <h2>Mobile first</h2>
              <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
              <a href="https://itunes.apple.com/us/app/the-community-of-grace/id1072207434?ls=1&mt=8" target="blank" class="txt-btn">See for yourself</a>
            </div><!-- /.col -->
          
           <div class="col-md-4 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs fade">
                <figure><img src="assets/grace_eq/art/product062.jpg" alt=""></figure>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
        
        </div><!-- /.container -->
      </section>
      </main>
        <%= render 'shared/footer' %>