<main>
      
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 inner-right-md inner-bottom-sm">
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
              
                  
            <ul class="sidenav">
              <li><%= link_to "Contribute",  contribute_path %></li>
              <li><%= link_to "Pray",  pray_path %></li>
              <li><%= link_to "Serve", serve_path %></li>
            </ul><!-- /.sidenav -->
            
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
            
          </div><!-- /.col -->
          
          <div class="col-md-9 inner-left-md border-left">
            
            <!-- ============================================================= SECTION – HERO ============================================================= -->
          
            <section id="hero" class="inner-bottom-xs">
              <header>
                <h1>Pray</h1>
                <p>Grace needs prayer for each and everyday.</p>
              </header>
            </section>
            
            <!-- ============================================================= SECTION – HERO : END ============================================================= -->
            
            
            <!-- ============================================================= SECTION – CONTENT ============================================================= -->
            
            <section id="content" class="border-top-lg">
              <div class="row">
          
            <div class="col-md-12 col-sm-6 inner-top ">
                  <h3 class="sidelines text-center"><span>Numbered list</span></h3>
                  
                  <ol class="text-center">
                    <li>Vivae modipsae voloratati</li>
                    <li>Andigen daepeditem labore</li>
                    <li>Laceaque ectemperum quiae</li>
                    <li>Restibses vaio es tumquam</li>
                    <li>Operum tibusam eumenis</li>
                  </ol><!-- /.circled -->
                </div><!-- /.col -->

                </div>
                </section>
      
    </main>
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
      <%= render 'shared/footer' %>
    