    <main>
      <section id="isotope modal">
        
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Sermon Series</h1>
                <p>Magical layouts that can’t be achieved with CSS alone. Re-order elements dynamically with advanced content filtering and sorting.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        
        <div class="container inner-bottom">
          <div class="row">
            <div class="col-sm-12 portfolio">
              
              <ul class="filter text-center">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".identity">Acts</a></li>
                <li><a href="#" data-filter=".interactive">Romans</a></li>
                <li><a href="#" data-filter=".print">Why We Love</a></li>
                <li><a href="#" data-filter=".photography">Grace</a></li>
              </ul><!-- /.filter -->
              
              <ul class="isotope items col-3">


                <li class="item thumb">   
                    <a href="#acts" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Acts series</h4>
                          <p>Interactive</p>
                        </div><!-- /.info -->
                      </figcaption>
                    </figure>
                    <img src="assets/grace_eq/art/acts.jpg" alt= "">
                  </a>
                </li><!-- /.item -->

      <!-- ============================================================= MODAL CONTACT01 ============================================================= -->
      
      <div class="modal fade" id="acts" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
              <h4 class="modal-title" id="modal-contact01">Small modal</h4>
            </div><!-- /.modal-header -->
            
            <!-- ============================================================= MODAL CONTENT ============================================================= -->
            
            <div class="modal-body">
              
              <!-- ============================================================= SECTION – HERO ============================================================= -->
              
              <section id="hero" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
                <div class="container inner-xs">
                  <div class="row">
                    
                    <div class="col-md-8 inner-right inner-bottom-xs">
                      <header>
                        <h1>Get in touch</h1>
                        <p>Do you want to know more? We’d love to hear from you!</p>
                      </header>
                    </div><!-- /.col -->
                    
                    <div class="col-md-4">
                      <h3 style="margin-top: 8px;">REEN</h3>
                      <ul class="contacts">
                        <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
                        <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
                        <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
                      </ul><!-- /.contacts -->
                    </div><!-- /.col -->
                    
                  </div><!-- ./row -->
                </div><!-- /.container -->
              </section>
              
              <!-- ============================================================= SECTION – HERO : END ============================================================= -->
              
              
              <!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
              
              <section id="contact-form">
                <div class="container inner-xs">
                  <div class="row">
                    <div class="col-xs-12 inner-bottom-xs">
                      
                      <h2>Leave a Message</h2>
                      
                      <form id="contactform" class="forms" action="contact.php" method="post">
                        
                        <div class="row">
                          
                          <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" placeholder="Name (Required)">
                          </div><!-- /.col -->
                          
                          <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" placeholder="Email (Required)">
                          </div><!-- /.col -->
                          
                        </div><!-- /.row -->
                        
                        <div class="row">
                          <div class="col-xs-12">
                            <textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
                          </div><!-- /.col -->
                        </div><!-- /.row -->
                        
                        <button type="submit" class="btn btn-default btn-submit">Submit message</button>
                        
                      </form>
                      
                      <div id="response"></div>
                      
                    </div><!-- ./col -->
                  </div><!-- /.row -->
                </div><!-- /.container -->
              </section>
              
              <!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
              
              
              <!-- ============================================================= SECTION – MAP ============================================================= -->
              
              <section id="map" class="height-xs"></section>
              
              <!-- ============================================================= SECTION – MAP : END ============================================================= -->
              
            </div><!-- /.modal-body -->
            
            <!-- ============================================================= MODAL CONTENT : END ============================================================= -->
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div><!-- /.modal-footer -->
            
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      
      <!-- ============================================================= MODAL CONTACT01 : END ============================================================= -->
      
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Grand Motel</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/grace_eq/art/grace_service1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Signwall</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work16.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Modern CD Case</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work18.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Astor & Yancy</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work09.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb photography">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Daydreaming</h4>
                          <p>Photography</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Brand Stationery</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work08a.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Tri Fold Brochure</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work10.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb interactive">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Vintage Bicycles</h4>
                          <p>Interactive</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work03.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Electric Dance Book Cover</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work20.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Embroidered</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work05.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Brand Stationery</h4>
                          <p>Identity/Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work21.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Handmade Wood Gifts</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work17.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Designer Brand</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work19.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Vinyl Records</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work07.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
              </ul><!-- /.items -->
              
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      
    </main>

    <%= render 'shared/footer' %>

    <script src="assets/grace_eq/jquery.min.js"></script>
    <script src="assets/grace_eq/jquery.easing.1.3.min.js"></script>
    <script src="assets/grace_eq/jquery.form.js"></script>
    <script src="assets/grace_eq/jquery.validate.min.js"></script>
    <script src="assets/grace_eq/bootstrap.min.js"></script>
    <script src="assets/grace_eq/aos.js"></script>
    <script src="assets/grace_eq/owl.carousel.min.js"></script>
    <script src="assets/grace_eq/jquery.isotope.min.js"></script>
    <script src="assets/grace_eq/imagesloaded.pkgd.min.js"></script>
    <script src="assets/grace_eq/jquery.easytabs.min.js"></script>
    <script src="assets/grace_eq/viewport-units-buggyfill.js"></script>
    <script src="assets/grace_eq/scripts.js"></script>
    <script src="assets/grace_eq/custom.js"></script>
