<main>
      
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 inner-right-md inner-bottom-sm">
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->

             <ul class="sidenav">
              <li><%= link_to "Contribute",  contribute_path %></li>
              <li><%= link_to "Pray",  pray_path %></li>
              <li><%= link_to "Serve", serve_path %></li>
            </ul><!-- /.sidenav -->
            
            
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
            
          </div><!-- /.col -->
          
          <div class="col-md-9 inner-left-md border-left">
            
            <!-- ============================================================= SECTION – HERO ============================================================= -->
          
            <section id="hero" class="inner-bottom-xs">
              <header>
                <h1>Serve</h1>
                <p>Grace exists to serve the community.</p>
              </header>
            </section>
            
            <!-- ============================================================= SECTION – HERO : END ============================================================= -->
            
            
            <!-- ============================================================= SECTION – CONTENT ============================================================= -->
            
            <section id="content" class="border-top-lg">
              <div class="row">
          
          <div class="row inner-top-sm">
            <div class="col-xs-12">
              <div class="tabs tabs-reasons tabs-circle-top tab-container">
                
                <ul class="etabs text-center">
                  <li class="tab"><a href="#Jesus_as_the_center">JESUS AS THE CENTER</a></li>
                  <li class="tab"><a href="#value_the_journey">VALUE THE JOURNEY</a></li>
                  <li class="tab"><a href="#live_in_community">LIVE IN COMMUNITY</a></li>
                  <li class="tab"><a href="#love_your_neighbor">LOVE YOUR NEIGHBOR</a></li>
                </ul><!-- /.etabs -->
                
                <div class="panel-container">
                  
                  <div class="tab-content" id="Jesus_as_the_center">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                        <figure><img src="assets/grace_eq/art/jesus-icon.png" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                        <h3> Jesus as the Center</h3>
                        <p>We believe that Jesus is the gracious savior and king of the earth. Therefore, our lives are lived best in his loving service.</p>
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="value_the_journey">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                        <figure><img src="assets/grace_eq/art/journey-icon.png" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                        <h3>Value the Journey</h3>
                        <p>We believe in the tension of personal growth realizing that we are all broken people changing at the pace of the Holy Spirit.</p>
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="live_in_community">
                    <div class="row">
                      
                      <div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
                        <figure><img src="assets/grace_eq/art/product06.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
                        <h3>Design</h3>
                        <p>We believe in the power of biblical togetherness; knowing and being known so that we can love, serve, and challenge each other in the truth of the Gospel.</p>
                      </div><!-- /.col -->
                      
                      <div class="col-md-3 col-sm-6 inner-top-xs">
                        <h3>User interface</h3>
                        <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="love_your_neighbor">
                    
                    <div class="row">
                      <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                        <figure><img src="assets/grace_eq/art/Commun-icon.jpg" alt=""></figure>
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                      <div class="col-sm-8 center-block text-center inner-top-xs">
                        <h3>Love Your Neighbor</h3>
                        <p>We believe the Holy Spirit leads us to lay down our lives for the people who cross our paths on a daily basis.</p>
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                  </div><!-- /.tab-content -->
                   
                </div><!-- /.panel-container -->
                 
              </div><!-- /.tabs -->
            </div><!-- /.col -->
          </div><!-- /.row -->
      
    </main>
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
      <%= render 'shared/footer' %>
    