<main>

       
      <section id="pattern-background-1" class="light-bg img-bg-softer" style="background-image: url(assets/grace_eq/art/pattern-background01.jpg);">
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 inner-right-md inner-bottom-sm">
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
              
            <ul class="sidenav">
              <li><%= link_to "Grace Initative", connect_path %></li>
              <li><%= link_to "Grace Collective", whats_sunday_like_path %></li>
              <li><%= link_to "Community Events", leadership_path %></li>

            </ul><!-- /.sidenav -->
            
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
            
          </div><!-- /.col -->
          
          <div class="col-md-9 inner-left-md border-left">
            
            <!-- ============================================================= SECTION – HERO ============================================================= -->
          
            <section id="hero" class="inner-bottom-xs text-center">
              <header>
                 <h1>These are our stories</h1>
                <p>We believe in the tension of personal growth realizing that we are all broken people changing at the pace of the Holy Spirit.</p>
              </header>
            </section>
            
            <!-- ============================================================= SECTION – HERO : END ============================================================= -->
            
            
            <!-- ============================================================= SECTION – CONTENT ============================================================= -->
            
            <section id="content" class="border-top-lg">
                  <div class="row">
            <div class="col-sm-12 center-block inner-top-sm">
              <div class="video-container">
              <iframe width="1170" height="658" src="https://www.youtube.com/embed/0SzD9SI1s4Q?list=PL4NGruNseG359mKRhEALf343-_lo26qgU" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
            </section>
            
            <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
            
          </div><!-- ./col -->
            
        </div><!-- /.row -->
      </div><!-- /.container -->
      
      <!-- ============================================================= SECTION – SHARE ============================================================= -->
    </section>

    </main>
     <%= render 'shared/footer' %>

